<div class='span6'>
  <button type='button' class='controller' onclick="moveSlide(false)">Left</button>
</div>
<div class='span6'>
  <button type='button' class='controller' onclick="moveSlide(true)">Right</button>
</div>
