@import "bootstrap";

/* general */
.center {
  text-align: center;
}
.row {
  margin-top: 50px;
}
/* nav header */
#logo {
  float:left;
  margin-right: 10px;
  font-size: 20px;
  padding-top: 10px;
  &:hover{
    text-decoration: none;
  }
}
/* form */
textarea {
  width: initial;
}
/* button */
button.controller {
  width: 25px;
  height: 100px;
}
