.slide {
  margin-top: 50px;
  font-size: 30px;
}
h1 {
  text-align: center;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-size: 1.5em;
}
.slide-body{
  margin: 25px 75px 25px;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#bottomright {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#bottomright label {
  opacity: 0;
  margin-right: 5px;
}
#bottomright input[type="checkbox"] {
  margin: 0px;
}
#bottomright:hover label {
  opacity: 1;
  -webkit-transition: all .25s ease-in-out;
  transition: all .1s ease-in-out;
}
