.slide {
  margin-top: 50px;
  font-size: 30px;
}
h1 {
  text-align: center;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-size: 1.5em;
}
.slide-body{
  margin: 25px 75px 25px;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
